.page-wrapper {
    min-height: calc(100vh - 162px);
    padding: 24px;
    padding-bottom: 30px;
  
    @media screen and (max-width: 1200px) {
      padding: 20px;
      min-height: calc(100vh - 150px);
    }
  
    @media screen and (max-width: 992px) {
      padding: 18px;
      min-height: calc(100vh - 140px);
    }
  
    @media screen and (max-width: 768px) {
      padding: 16px;
      min-height: calc(100vh - 130px);
    }
  
    @media screen and (max-width: 600px) {
      padding: 10px;
      min-height: calc(100vh - 120px);
    }
  
    @media screen and (max-width: 480px) {
      padding: 8px;
      min-height: calc(100vh - 110px);
    }
  }
  